.image{
    width: 33px;
    height: 30px;
    max-width: 33px;
    height: 30px;
    margin: 5px;
    display: block;
    animation: rotate 3s infinite;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}