*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root{
    background-color: rgb(207, 143, 250);
    min-height: 100vh;
    overflow: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.post{
    background-color: rgba(0, 200, 117, 0.242);
    margin: 0 auto;
    display:flex;
    padding: 20px;
    border: 3px solid teal;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    max-width: 735px;
    overflow: hidden;
}
.post__title{
    overflow: hidden;
    white-space: nowrap;
}
.post__description{
    overflow: auto;
}

.post__button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: column;
    gap: 0.5rem;
}

.post__button button{
    width: 100px;
    color: #001fff;
    font-size: 1rem;
    margin: 0 5px;
}

strong{
    display: inline;
    overflow: auto;
}

.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.page__wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.page{
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    border: 2px solid white;
    margin-bottom: 20px;
    color: black;
    font-weight: 900;
    cursor: pointer;
}

.page__current{
    border: 3px solid orange;
}
.navbar{
    height: 50px;
    width: 100vw;
    padding: 0 15px;
    background-color: teal;
} 
.navbar__links{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}
.navbar__links a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
}
.navbar__links a:hover{
    color: orange;
}
@media screen and (max-width: 745px){
    .post {
        margin: 20px 5px;
    }
    .page__wrapper{
        gap: 0.5rem;
    }
}
.posts{
    min-height: 100vh;
}
.authLinks{
    display: flex;
    gap: 1.2rem;
    margin-left: auto;
}